<section class="container">
	<br>
	<form>
	<div class="input-field">
			<input type="email" class="form-control" id="correo" placeholder="correo electronico">
		</div>
		<div class="input-field">
			<input type="password" class="form-control" id="pass" placeholder="contraseña">
		</div>
		<button type="submit" class="btn waves-effect waves-light green" id="entrar"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
		<button type="submit" class="btn waves-effect waves-light red" id="recuperar"><i class="fa fa-unlock" aria-hidden="true"></i></button>

		<div class="container" id="render-alert"></div>

	</form>
</section>