<section class="container">
	<h1 class="center-align"><i class="fa fa-database" aria-hidden="true"></i></h1>
	<div class="page-header">
		<h5 class="text-center">
			<small id="usuario-name">
				<img class="img-responsive" src="../../public/img/preloader/preloader.gif" alt="">
			</small>
		</h5>
	</div>

	<div class="container" id="render-datos"></div>

	<script type="text/x-handlebars-template" id="plantilla_usuario">
		<h5 class="center-align">{{nombre_usuario}}</h5>
	</script>
	<script type="text/x-handlebars-template" id="plantilla_datos">
		<div class="card z-depth-2">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="http://lorempixel.com/400/200/">
			</div>
			<div class="card-content">
			<span class="activator grey-text text-darken-4">{{nombre_render}}
				<a class="btn-floating waves-effect waves-light blue right">
					<i class="fa fa-long-arrow-up right" aria-hidden="true"></i>
				</a>
			</span>
				<p><a href="mailto:{{correo_render}}" title="">{{correo_render}}</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">{{nombre_render}}
					<a class="btn-floating waves-effect waves-light blue right">
						<i class="fa fa-times right" aria-hidden="true"></i>
					</a>
				</span>
				<p>{{mensaje_render}}</p>
			</div>
		</div>


	</script>
</section>