html{}
body{}

nav .container-fluid .navbar-collapse button{
	margin-left: 14px;
}
.menu-barra{
	border-radius: 0px;
}
#render-alert{
	margin-top: 20px;
}

@media only screen and (max-width: 993px){

}